body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0;
    width: 100vw;
    min-height: 220vh;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-attachment: local;
    background-size: cover;
}
